@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'),
				url("../fonts/LatoRegular.woff") format('woff'),
				url("../fonts/LatoRegular.woff2") format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'),
				url("../fonts/LatoBold.woff") format('woff'),
				url("../fonts/LatoBold.woff2") format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'),
				url("../fonts/LatoBlack.woff") format('woff'),
				url("../fonts/LatoBlack.woff2") format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'Lato';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #102746;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	max-width: 1060px;
	margin: 0 auto;
}

.wrapper-full {
	max-width: 1262px;
	margin: 0 auto;
}


/* Header styles start */

.header {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

}

.header__wrapper { 
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 56px;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
}

.header__item {
	margin-right: 82px;
}

.header__item:last-child {
	margin: 0;
}

.header__link {
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
	opacity: .75;
}

/* Header styles end */

/* Intro styles start */

.intro {
	min-height: 100vh;
	padding-bottom: 376px;
	background: url('../img/intro_bg.jpg') no-repeat center;
	background-size: cover;
	padding-top: 263px;
}

.intro__title {
	max-width: 619px;
	margin-bottom: 22px;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
}

.intro__subtitle {
	max-width: 546px;
	margin-bottom: 59px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.search-form__info {
	display: flex;
	flex-wrap: wrap;
}

.search-form__field {
	width: 297px;
	background: transparent url('../img/svg/circle_icon.svg') no-repeat left 6px;
	background-size: 20px;
	border: 0;
	border-bottom: 2px solid #BFC0C5;
	margin-right: 60px;
	padding-left: 43px;
	padding-bottom: 22px;
	color: #FFFFFF;
}

.search-form__field::placeholder {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.search-form__submit {
	padding: 15px 39px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	background-color: #1B7DFF;
	border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
	background-color: #114d9c;
}

/* Intro styles end */


/* Benefits styles start */

.benefits {
	margin-bottom: 131px;
}

.benefits_wrap {
	max-width: 1262px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
	position: relative;
}

.benefits__title {
	width: 100%;
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	padding: 93px 100px 98px 100px;
	position: absolute;
	top: 0;
	left: 0;	
	background: white;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
}

.benefits__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 55px;
	padding: 0 100px;
}

.benefits__card {
	grid-column: span 1;
	margin-bottom: 112px;
}

.benefits__card-pic {
	max-width: 66px;
	margin-bottom: 37px;
}

/* Чтобы избежать отступов снизу для img */
.benefits__card-thumb {
	display: block;
}

.benefits__card-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 26px;
}

.benefits__card-desc {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 39px;
}

.benefits__card-more {
	display: inline-block;
	padding-right: 59px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #006DFE;
	text-transform: uppercase;
	text-decoration: none;
	background: url('../img/svg/arrow__icon.svg') no-repeat 95% center;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
}

.benefits__card-more:hover, .benefits__card-more:focus {
	background: url('../img/svg/arrow__icon.svg') no-repeat right center;
}

/* Benefits styles end */

/* Places styles start */

.places {
	margin-bottom: 130px;
}

.title {
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	position: relative;
	padding-bottom: 10px;
}

.title::after {
	display: block;
	content: '';
	width: 253px;
	height: 3px;
	background-color: #006DFE;
	position: absolute;
	bottom: 0;
	left: 0;
}

.places__caption {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 36px;
}

.places__title {
	margin-right: 15px;
}

.places__view-all {
	padding-right: 59px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  background: url('../img/svg/arrow__icon.svg') no-repeat 95% center;
}

.places__view-all:hover, .places__view-all:focus, .places__view-all:active {
	opacity: .65;
}

.places__cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
}

.places__card {
	position: relative;
	overflow: hidden;
}

.places__card::after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(21, 24, 36, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.places__card:hover .places__card-pic {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.places__card-title {
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	position: absolute;
	bottom: 27px;
	left: 29px;
	z-index: 3;
}

.places__card-size-lg {
	grid-column: span 3;
}

.places__card-pic {
	width: 100%;
	transition: all .15s;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	-o-transition: all .15s;
}

.places__card-pic-lg {
	height: 354px;
	object-fit: cover;
}

.places__card-pic-s {
	height: 283px;
	object-fit: cover;

}



.places__card-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.places__card-size-s {
	grid-column: span 2;
}

/* Places styles end */

/* Tours styles start */

.tours {
	margin-bottom: 139px;
}

.tours__tour {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 108px;
	align-items: center;	
}

.tour {
	margin-bottom: 77px;
}

.tour__pic {
}

.tour__pic--right {
	order: 2;
}

.tour__thumb {
}

.tour__info {
	padding-left: 47px;
}

.tour__title {
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 85px;
}

.tour__desc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 58px;
}

.tour__link {
	display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  background: url('../img/svg/arrow__icon.svg') no-repeat 95% center;
  transition: all .2s;
}

.tour__link:hover, .tour__link:focus, .tour__link:active {
	background: url('../img/svg/arrow__icon.svg') no-repeat right center;
}

/* Tours styles end */

/* Top styles start */

.top {
	margin-bottom: 144px;
}

.top__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 57px;
}

.top__card {
	display: flex;
	flex-direction: column;
}
.top__title {
	margin-bottom: 57px;
}

.top__card-pic {
	position: relative;
	margin-bottom: 45px;
	
}

.top__card-stats {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 6;
	background-color: rgba(21, 24, 36, 0.6);
	padding: 16px 25px;
}
.top__card-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;	
	margin: 0 auto 0 0;
}
.top__card-likes {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding-right: 20px;
	background: url('../img/svg/heart__icon.svg') no-repeat right;
	margin-right: 14px;
}
.top__cards-likes-value {
}
.top__card-comments {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding-right: 23px;
	background: url('../img/svg/comment__icon.svg') no-repeat right;
}
.top__card-comments-value {
}

.top__card-desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 31px;
}

.top__card-more {
	width: 118px;
	padding: 12px 19px;
	font-size: 16px;
	line-height: 19px;
	background: #006DFE;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	margin: auto 0 0 0;
	transition: all .15s;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	-o-transition: all .15s;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
	background-color: #114d9c;
}

/* Top styles end */




 
